{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ book.title }} detail{% endblock %}

{% block content %}
    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title|capfirst }}</h1>
                            <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ book.author }}</h5>
                            <h5 class="small my-1"><span class="text-muted">کاربر: </span>{{ book.user }}</h5>

                                    {% if book.user == user %}
                                        <button type="submit" class="btn btn-primary me-2 ">
                                            <a class="link-light text-decoration-none"
                                               href="{% url 'book_edit' book.id %}">ویرایش</a>
                                        </button>
                                        <br>
                                        <button type="submit" class="btn btn-danger me-2 mt-2 ">
                                            <a class="link-light text-decoration-none "
                                               href="{% url 'book_delete' book.id %}">حذف
                                                پست</a>
                                        </button>
                                    {% endif %}
                                </div>



                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price }} تومان
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">{{ book.description|linebreaks }}</div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% for comment in comments %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{{ comment.user|capfirst }} :</h5>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                        {% endfor %}


                        <div class="d-flex justify-content-center">
                            <div class="card shadow my-3 p-5 w-sm-75 w-100">
                                <h3>نظر خود را وارد کنید:</h3>
                                {% if user.is_authenticated %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <button type="submit" class="btn btn-success mt-3">ارسال</button>
                                    </form>

                                {% else %}
                                    <h5>برای ارسال نظر وارد سایت شوید.</h5>
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-success me-2" href="{% url 'signup' %}">ثبت نام</a>
                                        <a class="btn btn-danger me-2" href="{% url 'login' %}">ورود</a>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}